
  
  
      <style>
        @font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwAopxRSW3w.woff) format('woff');
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwARZtRSW3w.woff) format('woff');
}
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/orbitron/v31/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1ny_CmBoWg1.woff) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu6-K6z9mXgjU0.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu0-K6z9mXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu6-K6z9mXgjU0.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu0-K6z9mXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/orbitron/v31/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1ny_CmBoWg1fDAlp7lk.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

      </style>
    
  <style>
    .gps-497425733442864264 .pointer-events-auto{pointer-events:auto}.gps-497425733442864264 .invisible{visibility:hidden}.gps-497425733442864264 .absolute{position:absolute}.gps-497425733442864264 .relative{position:relative}.gps-497425733442864264 .inset-0{inset:0}.gps-497425733442864264 .left-\[var\(--left\)\]{left:var(--left)}.gps-497425733442864264 .top-\[var\(--top\)\]{top:var(--top)}.gps-497425733442864264 .z-1{z-index:1}.gps-497425733442864264 .mx-auto{margin-left:auto;margin-right:auto}.gps-497425733442864264 .mb-0{margin-bottom:0}.gps-497425733442864264 .\!inline{display:inline!important}.gps-497425733442864264 .flex{display:flex}.gps-497425733442864264 .inline-flex{display:inline-flex}.gps-497425733442864264 .grid{display:grid}.gps-497425733442864264 .h-5{height:20px}.gps-497425733442864264 .h-full{height:100%}.gps-497425733442864264 .w-5{width:20px}.gps-497425733442864264 .w-full{width:100%}.gps-497425733442864264 .max-w-full{max-width:100%}@keyframes spin{to{transform:rotate(1turn)}}.gps-497425733442864264 .animate-spin{animation:spin 1s linear infinite}.gps-497425733442864264 .flex-col{flex-direction:column}.gps-497425733442864264 .items-center{align-items:center}.gps-497425733442864264 .\!justify-center{justify-content:center!important}.gps-497425733442864264 .justify-center{justify-content:center}.gps-497425733442864264 .gap-y-0{row-gap:0}.gps-497425733442864264 .self-center{align-self:center}.gps-497425733442864264 .overflow-hidden{overflow:hidden}.gps-497425733442864264 .break-words{overflow-wrap:break-word}.gps-497425733442864264 .rounded-none{border-radius:0}.gps-497425733442864264 .bg-clip-content{background-clip:content-box}.gps-497425733442864264 .no-underline{text-decoration-line:none}.gps-497425733442864264 .opacity-25{opacity:.25}.gps-497425733442864264 .opacity-75{opacity:.75}.gps-497425733442864264 .transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-497425733442864264 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-497425733442864264 .transition-transform{transition-duration:.15s;transition-property:transform;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-497425733442864264 .duration-200{transition-duration:.2s}.gps-497425733442864264 .duration-300{transition-duration:.3s}.gps-497425733442864264 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-497425733442864264 .disabled\:btn-disabled:disabled{cursor:default}.gps-497425733442864264 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-497425733442864264 .disabled\:opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-497425733442864264 .group\/hero:hover .group-hover\/hero\:bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-497425733442864264 .group\/hero:hover .group-hover\/hero\:opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}.gps-497425733442864264 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-497425733442864264 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}@media (max-width:1023px){.gps-497425733442864264 .tablet\:relative{position:relative}.gps-497425733442864264 .tablet\:h-full{height:100%}.gps-497425733442864264 .tablet\:\!content-stretch{align-content:stretch!important}.gps-497425733442864264 .tablet\:\!justify-center{justify-content:center!important}}@media (max-width:767px){.gps-497425733442864264 .mobile\:relative{position:relative}.gps-497425733442864264 .mobile\:h-full{height:100%}.gps-497425733442864264 .mobile\:\!content-stretch{align-content:stretch!important}.gps-497425733442864264 .mobile\:\!justify-center{justify-content:center!important}}@media (max-width:1023px){.gps-497425733442864264 .tablet\:\[\&\>\*\]\:\!justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-497425733442864264 .mobile\:\[\&\>\*\]\:\!justify-center>*{justify-content:center!important}}.gps-497425733442864264 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-497425733442864264 .\[\&_p\]\:inline p{display:inline}.gps-497425733442864264 .\[\&_p\]\:whitespace-pre-line p{white-space:pre-line}.gps-497425733442864264 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-497425733442864264 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gYYZyuZ5pi"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:0px;--pb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gYYZyuZ5pi mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g45WMhfNx9 relative flex flex-col"
    >
      
    <link rel="preload" href="https://ucarecdn.com/ecf01239-3fd2-4adb-8e8d-ba8a462973aa/-/format/auto/" as="image" />
    <link rel="preload" href="https://ucarecdn.com/ecf01239-3fd2-4adb-8e8d-ba8a462973aa/-/format/auto/" as="image" />
    <link rel="preload" href="https://ucarecdn.com/d71d3ed6-b489-4a34-a8fc-4f8dff22e24b/-/format/auto/" as="image" />
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-hero-banner.js" defer="defer"></script>
    <gp-hero-banner
      gp-data='{"background":{"desktop":{"attachment":"scroll","color":"rgba(255, 255, 255, 0)","image":{"backupFileKey":"432750572815254551-1f12f0ca-3a1d-4d53-9a11-30ca70ea7676.png","height":1023,"src":"https://ucarecdn.com/ecf01239-3fd2-4adb-8e8d-ba8a462973aa/-/format/auto/","width":2160},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"rgba(255, 255, 255, 0)","image":{"backupFileKey":"432750572815254551-1f12f0ca-3a1d-4d53-9a11-30ca70ea7676.png","height":1023,"src":"https://ucarecdn.com/ecf01239-3fd2-4adb-8e8d-ba8a462973aa/-/format/auto/","width":2160},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"rgba(255, 255, 255, 0)","image":{"backupFileKey":"432750572815254551-ba08d801-dde0-4918-bc8f-1f5df9831e83.png","height":1448,"src":"https://ucarecdn.com/d71d3ed6-b489-4a34-a8fc-4f8dff22e24b/-/format/auto/","width":563},"position":{"x":50,"y":100},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"gy1MgVoxig","enableParallax":false,"speedParallax":0.6}'
      
      class="gy1MgVoxig group/hero flex flex-col self-center transition-colors duration-200 ease-in-out w-full"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pl:15px;--pr:15px;--h:fit-content;--h-tablet:fit-content;--h-mobile:fit-content;--w:100%;--w-tablet:100%;--w-mobile:100%"
    >
      <div
      class="relative flex flex-col items-center overflow-hidden !justify-center tablet:!justify-center mobile:!justify-center"
        style="--h:fit-content;--h-tablet:fit-content;--h-mobile:fit-content"
      >
        <div class="absolute w-full h-full">
          <div
            class="overflow-hidden w-full h-full"
            style="--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;clip-path:inset(0 0)">
            <div
              aria-label="Background Image"
              role="banner"
              class="gp-hero-banner-bg absolute inset-0 left-[var(--left)] top-[var(--top)] transition-transform flex items-center justify-center bg-clip-content"
              style="--bgc:rgba(255, 255, 255, 0);--bgc-tablet:rgba(255, 255, 255, 0);--bgc-mobile:rgba(255, 255, 255, 0);--bgi:url({{ "432750572815254551-1f12f0ca-3a1d-4d53-9a11-30ca70ea7676.png" | asset_url }});--bgi-tablet:url({{ "432750572815254551-1f12f0ca-3a1d-4d53-9a11-30ca70ea7676.png" | asset_url }});--bgi-mobile:url({{ "432750572815254551-ba08d801-dde0-4918-bc8f-1f5df9831e83.png" | asset_url }});--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 100%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:110%;--top:0;--left:0;--w:100%;--h:100%;--pos:absolute;--bga:scroll;--w-tablet:100%;--h-tablet:100%;--pos-tablet:absolute;--bga-tablet:scroll;--w-mobile:100%;--h-mobile:100%;--pos-mobile:absolute;--bga-mobile:scroll"
            > </div>
          </div>
          <div
          aria-label="Overlay"
          role="banner"
          class="absolute overflow-hidden inset-0 left-[var(--left)] top-[var(--top)] transition-all duration-300 group-hover/hero:bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:opacity-[var(--hvr-op,_var(--op))]"
          style="--bgc:#121212;--top:0;--left:0;--op:0%"
        > </div>
        </div>
        
        
      
      
    <div
      id
        style="--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1230px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row z-1 w-full tablet:relative mobile:relative tablet:[&>*>*]:!justify-undefined mobile:[&>*>*]:!justify-undefined tablet:h-full tablet:!content-stretch tablet:[&>*]:!justify-center mobile:h-full mobile:!content-stretch mobile:[&>*]:!justify-center mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gY8hOVUhh- relative flex flex-col"
    >
      <div
      
      style=""
      class="gxx4pzOJy4 relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g8VZqwMNUT"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:136px;--pb:136px;--mb-mobile:0px;--pt-mobile:74px;--pb-mobile:377px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g8VZqwMNUT mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gWqiAxmk6- relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gu8qwMgd-a"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--ml:auto;--mb:0px;--mr:auto;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:50%;--w-tablet:50%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gu8qwMgd-a mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gz2XUhahau relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gXxNjvdL0X "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s)"
      >
      <div class="flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-Orbitron, Orbitron);--weight:700;--ls:normal;--lh:130%;--size:64px;--size-tablet:64px;--size-mobile:50px;--c:#FFFFFF;word-break:break-word"
        >
        <p>Cyber Monday Exclusive!&nbsp;</p>
        </h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gAG7LkfLA5 "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-2xl)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#B4B4B4;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>The Sound Revolution Awaits! This offer is live only for Cyber Monday. Secure yours before the final note fades!</p>
        </div>
      </div>
    </div>
      
      
    <div
      parentTag="Col" id="g-ZmaxJEDz"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g-ZmaxJEDz mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ghOZ_Ko0Cg relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="griTlWy2Hh"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-mobile:var(--g-s-s);--mb-tablet:var(--g-s-s);--cg:16px;--cg-mobile:14px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="griTlWy2Hh mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gh2G3JYHnZ relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gS3IrfWg-R"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-3216b089-f893-4f0f-b44a-eddee3726527.svg" | asset_url }}" data-srcset="{{ '432750572815254551-3216b089-f893-4f0f-b44a-eddee3726527.svg' | asset_url }} 768w, {{ '432750572815254551-3216b089-f893-4f0f-b44a-eddee3726527.svg' | asset_url }} 1024w, {{ '432750572815254551-3216b089-f893-4f0f-b44a-eddee3726527.svg' | asset_url }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="56" height="56" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:56/56;--aspect-tablet:56/56;--aspect-mobile:56/56;--objf:cover;--w:56px;--w-tablet:56px;--w-mobile:56px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gVREnz7hid relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gwZq0UVXW0 "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:700;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>Worry-Free Trial</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="grbT0N-tvm "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#B4B4B4;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>60-Day easy returns</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gAyk47OC0I relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gyeYMsJ82F"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:16px;--cg-mobile:14px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gyeYMsJ82F mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gAbxW7lH1y relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image ga7InRn7nK"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-54da037f-576f-4857-b86b-db8f3c20879f.svg" | asset_url }}" data-srcset="{{ '432750572815254551-54da037f-576f-4857-b86b-db8f3c20879f.svg' | asset_url }} 768w, {{ '432750572815254551-54da037f-576f-4857-b86b-db8f3c20879f.svg' | asset_url }} 1024w, {{ '432750572815254551-54da037f-576f-4857-b86b-db8f3c20879f.svg' | asset_url }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="56" height="56" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:56/56;--aspect-tablet:56/56;--aspect-mobile:56/56;--objf:cover;--w:56px;--w-tablet:56px;--w-mobile:56px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gpiSYr_ASR relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gDEgKp2A2_ "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:700;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>After-Sale Service</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gIKPnZaNdO "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#B4B4B4;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>24/7 support</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-button.js" defer="defer"></script>
  <gp-button gp-data='{"setting":{"btnLink":{"link":"","target":"_self"},"disabled":false,"htmlType":"button","iconAlign":"left","iconSvg":"<svg style=\"width: 100%; height: 100%\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 512 512\" fill=\"currentColor\"> <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z\" /></svg>","iconVisible":false,"label":"Grab The Deal"}}'>
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
    class=""
  >
    <style>
    .gUJ_TXQpqY.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #121212;
  
      
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      
    }

    .gUJ_TXQpqY:hover::before {
      
      
    }
  </style>
    <button
      type="button" data-id="gUJ_TXQpqY" aria-label="Grab The Deal"
      data-state="idle"
      class="gUJ_TXQpqY gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none"
      style="--hvr-bg:#EEEEEE;--bg:#FFFFFF;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--shadow:none;--c:#210E6C;--pl:24px;--pr:24px;--pt:13px;--pb:13px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:13px;--pb-tablet:13px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:13px;--pb-mobile:13px;--w:281px;--w-tablet:281px;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--tt:capitalize;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:700;--ls:normal;--lh:130%;--size:19px;--size-tablet:16px;--size-mobile:14px"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="break-words group-data-[state=loading]:invisible [&_p]:whitespace-pre-line z-1 h-full flex items-center overflow-hidden "
        style="--tt:default"
      >
        grab the deal
      </span>
    </button>
  </div>
  </gp-button>
  
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
    </div>
  
    
        <picture style="border-radius: inherit" class="w-full">
    <link rel="preload" href="{{ "432750572815254551-1f12f0ca-3a1d-4d53-9a11-30ca70ea7676.png" | asset_img_url: 'master' }}" as="image" />
    <link rel="preload" href="{{ "432750572815254551-1f12f0ca-3a1d-4d53-9a11-30ca70ea7676.png" | asset_img_url: '1024x1024' }}" as="image" />
    <link rel="preload" href="{{ "432750572815254551-ba08d801-dde0-4918-bc8f-1f5df9831e83.png" | asset_img_url: '768x768' }}" as="image" />
    <source media="(max-width: 767px)" data-srcSet="{{ "432750572815254551-ba08d801-dde0-4918-bc8f-1f5df9831e83.png" | asset_img_url: '768x768' }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
    <source media="(max-width: 1023px)" data-srcSet="{{ "432750572815254551-1f12f0ca-3a1d-4d53-9a11-30ca70ea7676.png" | asset_img_url: '1024x1024' }}" srcset="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" />
    <img
      
      class="gp_lazyload"
      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII="
      data-src="{{ "432750572815254551-1f12f0ca-3a1d-4d53-9a11-30ca70ea7676.png" | asset_img_url: 'master' }}"
      alt=""
      style="--aspect:2160/1023;--aspect-tablet:2160/1023;--aspect-mobile:563/1448;--d:none;--d-tablet:none;--d-mobile:none;--h:fit-content;--h-tablet:fit-content;--h-mobile:fit-content;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
    />
  </picture>
      </div>
    </gp-hero-banner>
  
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-497425733442864264 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/johnnychentest/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=497425727101076616&sectionId=497425733442864264)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
