
  
  
      <style>
        @font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwAopxRSW3w.woff) format('woff');
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwARZtRSW3w.woff) format('woff');
}
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/orbitron/v31/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1ny_CmBoWg1.woff) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu6-K6z9mXgjU0.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu0-K6z9mXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu6-K6z9mXgjU0.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu0-K6z9mXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/orbitron/v31/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1ny_CmBoWg1fDAlp7lk.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

      </style>
    
  <style>
    .gps-497425734617269384 .-translate-y-1\/2,.gps-497425734617269384 .mobile\:-translate-y-1\/2,.gps-497425734617269384 .mobile\:rotate-0,.gps-497425734617269384 .mobile\:rotate-180,.gps-497425734617269384 .mobile\:translate-x-0,.gps-497425734617269384 .mobile\:translate-y-1\/2,.gps-497425734617269384 .rotate-0,.gps-497425734617269384 .rotate-180,.gps-497425734617269384 .tablet\:-translate-y-1\/2,.gps-497425734617269384 .tablet\:rotate-0,.gps-497425734617269384 .tablet\:rotate-180,.gps-497425734617269384 .tablet\:translate-x-0,.gps-497425734617269384 .tablet\:translate-y-1\/2,.gps-497425734617269384 .translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-497425734617269384 .shadow-md{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-497425734617269384 .pointer-events-auto{pointer-events:auto}.gps-497425734617269384 .absolute{position:absolute}.gps-497425734617269384 .relative{position:relative}.gps-497425734617269384 .bottom-1\/2{bottom:50%}.gps-497425734617269384 .left-4{left:16px}.gps-497425734617269384 .right-4{right:16px}.gps-497425734617269384 .top-1\/2{top:50%}.gps-497425734617269384 .z-1{z-index:1}.gps-497425734617269384 .z-2{z-index:2}.gps-497425734617269384 .mx-auto{margin-left:auto;margin-right:auto}.gps-497425734617269384 .my-0{margin-bottom:0;margin-top:0}.gps-497425734617269384 .mb-0{margin-bottom:0}.gps-497425734617269384 .mt-2{margin-top:8px}.gps-497425734617269384 .block{display:block}.gps-497425734617269384 .\!inline{display:inline!important}.gps-497425734617269384 .flex{display:flex}.gps-497425734617269384 .inline-flex{display:inline-flex}.gps-497425734617269384 .grid{display:grid}.gps-497425734617269384 .\!hidden{display:none!important}.gps-497425734617269384 .hidden{display:none}.gps-497425734617269384 .aspect-square{aspect-ratio:1/1}.gps-497425734617269384 .h-6{height:24px}.gps-497425734617269384 .h-full{height:100%}.gps-497425734617269384 .w-6{width:24px}.gps-497425734617269384 .w-\[12px\]{width:12px}.gps-497425734617269384 .w-full{width:100%}.gps-497425734617269384 .max-w-full{max-width:100%}.gps-497425734617269384 .-translate-y-1\/2{--tw-translate-y:-50%}.gps-497425734617269384 .-translate-y-1\/2,.gps-497425734617269384 .translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-497425734617269384 .translate-y-1\/2{--tw-translate-y:50%}.gps-497425734617269384 .rotate-0{--tw-rotate:0deg}.gps-497425734617269384 .rotate-0,.gps-497425734617269384 .rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-497425734617269384 .rotate-180{--tw-rotate:180deg}.gps-497425734617269384 .cursor-pointer{cursor:pointer}.gps-497425734617269384 .flex-row{flex-direction:row}.gps-497425734617269384 .flex-col{flex-direction:column}.gps-497425734617269384 .items-center{align-items:center}.gps-497425734617269384 .justify-center{justify-content:center}.gps-497425734617269384 .gap-2{gap:8px}.gps-497425734617269384 .gap-y-0{row-gap:0}.gps-497425734617269384 .overflow-hidden{overflow:hidden}.gps-497425734617269384 .rounded-full{border-radius:9999px}.gps-497425734617269384 .text-center{text-align:center}.gps-497425734617269384 .leading-\[0\]{line-height:0}.gps-497425734617269384 .text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-497425734617269384 .shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-497425734617269384 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-497425734617269384 .duration-200{transition-duration:.2s}.gps-497425734617269384 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-497425734617269384 .disabled\:cursor-default:disabled{cursor:default}.gps-497425734617269384 .disabled\:text-gray-300:disabled{--tw-text-opacity:1;color:rgb(209 213 219/var(--tw-text-opacity))}.gps-497425734617269384 .data-\[hidden\=true\]\:\!hidden[data-hidden=true]{display:none!important}@media (max-width:1023px){.gps-497425734617269384 .tablet\:bottom-1\/2{bottom:50%}.gps-497425734617269384 .tablet\:left-4{left:16px}.gps-497425734617269384 .tablet\:right-4{right:16px}.gps-497425734617269384 .tablet\:top-1\/2{top:50%}.gps-497425734617269384 .tablet\:mt-2{margin-top:8px}.gps-497425734617269384 .tablet\:block{display:block}.gps-497425734617269384 .tablet\:\!hidden{display:none!important}.gps-497425734617269384 .tablet\:w-full{width:100%}.gps-497425734617269384 .tablet\:-translate-y-1\/2{--tw-translate-y:-50%}.gps-497425734617269384 .tablet\:-translate-y-1\/2,.gps-497425734617269384 .tablet\:translate-x-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-497425734617269384 .tablet\:translate-x-0{--tw-translate-x:0px}.gps-497425734617269384 .tablet\:translate-y-1\/2{--tw-translate-y:50%}.gps-497425734617269384 .tablet\:rotate-0,.gps-497425734617269384 .tablet\:translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-497425734617269384 .tablet\:rotate-0{--tw-rotate:0deg}.gps-497425734617269384 .tablet\:rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-497425734617269384 .tablet\:flex-row{flex-direction:row}.gps-497425734617269384 .tablet\:px-0{padding-left:0;padding-right:0}.gps-497425734617269384 .tablet\:pl-1{padding-left:4px}}@media (max-width:767px){.gps-497425734617269384 .mobile\:bottom-1\/2{bottom:50%}.gps-497425734617269384 .mobile\:left-4{left:16px}.gps-497425734617269384 .mobile\:right-4{right:16px}.gps-497425734617269384 .mobile\:top-1\/2{top:50%}.gps-497425734617269384 .mobile\:mt-2{margin-top:8px}.gps-497425734617269384 .mobile\:block{display:block}.gps-497425734617269384 .mobile\:\!hidden{display:none!important}.gps-497425734617269384 .mobile\:w-full{width:100%}.gps-497425734617269384 .mobile\:-translate-y-1\/2{--tw-translate-y:-50%}.gps-497425734617269384 .mobile\:-translate-y-1\/2,.gps-497425734617269384 .mobile\:translate-x-0{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-497425734617269384 .mobile\:translate-x-0{--tw-translate-x:0px}.gps-497425734617269384 .mobile\:translate-y-1\/2{--tw-translate-y:50%}.gps-497425734617269384 .mobile\:rotate-0,.gps-497425734617269384 .mobile\:translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-497425734617269384 .mobile\:rotate-0{--tw-rotate:0deg}.gps-497425734617269384 .mobile\:rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-497425734617269384 .mobile\:flex-row{flex-direction:row}.gps-497425734617269384 .mobile\:px-0{padding-left:0;padding-right:0}.gps-497425734617269384 .mobile\:pl-1{padding-left:4px}}.gps-497425734617269384 .\[\&\>svg\]\:\!h-6>svg{height:24px!important}.gps-497425734617269384 .\[\&\>svg\]\:\!h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-497425734617269384 .\[\&\>svg\]\:\!w-6>svg{width:24px!important}.gps-497425734617269384 .\[\&\>svg\]\:\!w-auto>svg{width:auto!important}@media (max-width:1023px){.gps-497425734617269384 .tablet\:\[\&\>svg\]\:\!h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-497425734617269384 .mobile\:\[\&\>svg\]\:\!h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-497425734617269384 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-497425734617269384 .\[\&_p\]\:inline p{display:inline}.gps-497425734617269384 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-497425734617269384 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g9pn4GjLLp"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:104px;--pl:15px;--pb:72px;--pr:15px;--pt-mobile:104px;--pl-mobile:15px;--pb-mobile:var(--g-s-3xl);--pr-mobile:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url({{ "432750572815254551-0f2b898c-cb3b-45c0-a8bd-0417c9f631a9.svg" | asset_url }});--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g9pn4GjLLp mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g9vjkp7KAC relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g51mKFiIt7"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g51mKFiIt7 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gE-DQXsw2Y relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="g5qECxmtuE "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:left">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-Orbitron, Orbitron);--weight:700;--ls:normal;--lh:130%;--size:40px;--size-tablet:40px;--size-mobile:35px;--c:#242424;word-break:break-word"
        >
        <p>Compare features</p>
        </h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gtd1fy67BK "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:400;--ls:normal;--lh:130%;--size:19px;--size-tablet:19px;--size-mobile:17px;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>With other brand similar product</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gME-bAfsiz"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--cg:32px;--pc:start;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gME-bAfsiz mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gdHKEF2cCZ relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gVNmRrMZ0V"
        style="--b:solid;--bc:#F3F3F3;--bw:1px 1px 1px 1px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--mb:var(--g-s-l);--pl:0px;--pr:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gVNmRrMZ0V mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="grXlsNGFUi relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gomgXUWf5M"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mr:auto;--pt:0px;--cg:0px;--cg-tablet:0px;--pc:start;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 8fr) minmax(0, 4fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gomgXUWf5M mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gIpeiwBCUK relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gTHMpA1jLO"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:3px;--mb:0px;--pt:var(--g-s-xl);--pb:var(--g-s-l);--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FBFBFB;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gTHMpA1jLO mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gCkLOENLuA relative flex flex-col"
    >
      
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gdb1VYdooi relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="g7C_QGjl5t "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:0px"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:700;--ls:normal;--lh:130%;--size:19px;--size-tablet:19px;--size-mobile:17px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>Others</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gQStAk9bkT relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gLh1cMzygK "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:0px"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:700;--ls:normal;--lh:130%;--size:19px;--size-tablet:19px;--size-mobile:17px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>Ours</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gXZB9r6Tcw"
        style="--b:solid;--bc:#EEEEEE;--bw:0px 0px 1px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 8fr) minmax(0, 4fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gXZB9r6Tcw mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="ggzVfmBotF relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gvZtok2Zeb"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:0px;--pl:var(--g-s-l);--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FBFBFB;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gvZtok2Zeb mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="geJClTtnOt relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gGVlxmvAyB "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-m);--pb:var(--g-s-m)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:700;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>Warranty</p>
        </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gxlaf8Urzr relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gDjuWTMTPe "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>None</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gR9vBPFWUN relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gBzshHHmyV "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-m);--pb:var(--g-s-m)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>1 year</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="g8qhq1HLbI"
        style="--b:solid;--bc:#EEEEEE;--bw:0px 0px 1px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 8fr) minmax(0, 4fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g8qhq1HLbI mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gl8kMXyQ5l relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g_5Ivig3EZ"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:0px;--pl:var(--g-s-l);--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FBFBFB;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g_5Ivig3EZ mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gfijmqv_ZZ relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gXKvbmjEPo "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-m);--pb:var(--g-s-m)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:700;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>Nutrients Lead-in</p>
        </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gx692PtF6C relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gPUzFj3BmB "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>Slow</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gj3ilCscj6 relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gtBHruWElM "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-m);--pb:var(--g-s-m)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>Fast</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="go3M10XFL5"
        style="--b:solid;--bc:#EEEEEE;--bw:0px 0px 1px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 8fr) minmax(0, 4fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="go3M10XFL5 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gN0EQp1z_e relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gVB0BU1hHn"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:0px;--pl:var(--g-s-l);--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FBFBFB;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gVB0BU1hHn mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g9ftrWBpTY relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gnkojqhCLY "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-m);--pb:var(--g-s-m)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:700;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>Toxins Flush Out</p>
        </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gD2AcilCW5 relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gy3yaVvxfm "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>Slow</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g2TMtj7JPt relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gEba3Z0t1L "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-m);--pb:var(--g-s-m)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>Fast</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gJO1i8wgpc"
        style="--b:solid;--bc:#EEEEEE;--bw:0px 0px 1px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 8fr) minmax(0, 4fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gJO1i8wgpc mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gbxUKvmnY8 relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g1gNa0nG0h"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:0px;--pl:var(--g-s-l);--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FBFBFB;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g1gNa0nG0h mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="giZNZfN-Sb relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gv9CtIVki1 "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-m);--pb:var(--g-s-m)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:700;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>Constant Temperature</p>
        </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gz6x7PJCTx relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
      class="leading-[0] g-Fm1ESnbq"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:#B4B4B4;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M148.672 148.672a16 16 0 0 1 22.656 0L256 233.376l84.672 -84.704a16 16 0 0 1 22.656 22.656L278.624 256l84.704 84.672a16 16 0 0 1 -22.656 22.656L256 278.624l-84.672 84.704a16 16 0 0 1 -22.656 -22.656L233.376 256 148.672 171.328a16 16 0 0 1 0 -22.656z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g6WX3gCIvV relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
      class="leading-[0] gCi94iuJRi"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:#AF33EA;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M351.04 159.04a24 24 0 0 1 34.24 33.6l-127.68 159.68a24 24 0 0 1 -34.56 0.64L138.368 268.288a24 24 0 1 1 33.92 -33.92l67.008 66.976 111.136 -141.6a8.544 8.544 0 0 1 0.64 -0.704z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="geiXUKwDco"
        style="--b:solid;--bc:#EEEEEE;--bw:0px 0px 1px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 8fr) minmax(0, 4fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="geiXUKwDco mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gGZ-7xcFN9 relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="g3f5rHqk7Q"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:0px;--pl:var(--g-s-l);--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FBFBFB;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g3f5rHqk7Q mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g5tmxpC3_Y relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gNIs2AB0M_ "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-m);--pb:var(--g-s-m)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:700;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>Humanization Design</p>
        </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g92Ogm-Fcv relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
      class="leading-[0] gm1R9kh49x"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:#B4B4B4;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M148.672 148.672a16 16 0 0 1 22.656 0L256 233.376l84.672 -84.704a16 16 0 0 1 22.656 22.656L278.624 256l84.704 84.672a16 16 0 0 1 -22.656 22.656L256 278.624l-84.672 84.704a16 16 0 0 1 -22.656 -22.656L233.376 256 148.672 171.328a16 16 0 0 1 0 -22.656z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g4KuQwxHtT relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
      class="leading-[0] g7esfR3BHN"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:#AF33EA;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M351.04 159.04a24 24 0 0 1 34.24 33.6l-127.68 159.68a24 24 0 0 1 -34.56 0.64L138.368 268.288a24 24 0 1 1 33.92 -33.92l67.008 66.976 111.136 -141.6a8.544 8.544 0 0 1 0.64 -0.704z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gCB4Iyez7G"
        style="--b:solid;--bc:#EEEEEE;--bw:0px 0px 1px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 8fr) minmax(0, 4fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gCB4Iyez7G mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gIgzc-KiU9 relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gJJIMgiqXR"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:0px;--pl:var(--g-s-l);--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FBFBFB;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gJJIMgiqXR mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gb2HMleyxP relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gON50nE1s5 "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-m);--pb:var(--g-s-m)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:700;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>Eye Massage Function</p>
        </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g6OB0OM5Wi relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
      class="leading-[0] gnPJQAQVdO"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:#B4B4B4;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M148.672 148.672a16 16 0 0 1 22.656 0L256 233.376l84.672 -84.704a16 16 0 0 1 22.656 22.656L278.624 256l84.704 84.672a16 16 0 0 1 -22.656 22.656L256 278.624l-84.672 84.704a16 16 0 0 1 -22.656 -22.656L233.376 256 148.672 171.328a16 16 0 0 1 0 -22.656z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gA-6IskGSI relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
      class="leading-[0] gy0lO79kmV"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:#AF33EA;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M351.04 159.04a24 24 0 0 1 34.24 33.6l-127.68 159.68a24 24 0 0 1 -34.56 0.64L138.368 268.288a24 24 0 1 1 33.92 -33.92l67.008 66.976 111.136 -141.6a8.544 8.544 0 0 1 0.64 -0.704z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gaeRBwlNtf"
        style="--b:solid;--bc:#EEEEEE;--bw:0px 0px 1px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 8fr) minmax(0, 4fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gaeRBwlNtf mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gtrIOGg9gQ relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gEaLU6keXw"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:0px;--pl:var(--g-s-l);--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FBFBFB;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gEaLU6keXw mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gOLwqmtX2M relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="g7Lx3hPogL "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-m);--pb:var(--g-s-m)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:700;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>CE, ROHS Certificated</p>
        </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gwif4JnDsr relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
      class="leading-[0] gxbDkD4u8V"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:#B4B4B4;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M148.672 148.672a16 16 0 0 1 22.656 0L256 233.376l84.672 -84.704a16 16 0 0 1 22.656 22.656L278.624 256l84.704 84.672a16 16 0 0 1 -22.656 22.656L256 278.624l-84.672 84.704a16 16 0 0 1 -22.656 -22.656L233.376 256 148.672 171.328a16 16 0 0 1 0 -22.656z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gAECcEImll relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
      class="leading-[0] guNJ3He1ki"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:#AF33EA;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M351.04 159.04a24 24 0 0 1 34.24 33.6l-127.68 159.68a24 24 0 0 1 -34.56 0.64L138.368 268.288a24 24 0 1 1 33.92 -33.92l67.008 66.976 111.136 -141.6a8.544 8.544 0 0 1 0.64 -0.704z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gxJsfLPStj"
        style="--b:solid;--bc:#EEEEEE;--bw:0px 0px 0px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:0px;--pc:start;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 8fr) minmax(0, 4fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gxJsfLPStj mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gBrik2kvS1 relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gm0SCo3BMn"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:0px;--pl:var(--g-s-l);--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FBFBFB;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gm0SCo3BMn mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="go_JDrGNaR relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gF5fH7zyXq "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--pt:var(--g-s-m);--pb:var(--g-s-m)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:700;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>FDA, FCC Certificated</p>
        </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g5-Xw-DS7i relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
      class="leading-[0] g9GaRnaZpH"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:#B4B4B4;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M148.672 148.672a16 16 0 0 1 22.656 0L256 233.376l84.672 -84.704a16 16 0 0 1 22.656 22.656L278.624 256l84.704 84.672a16 16 0 0 1 -22.656 22.656L256 278.624l-84.672 84.704a16 16 0 0 1 -22.656 -22.656L233.376 256 148.672 171.328a16 16 0 0 1 0 -22.656z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g71fXXqFGA relative flex flex-col"
    >
      <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
      class="leading-[0] g7YHIFDX0_"
    >
      <div class="inline-flex overflow-hidden g-s-icon-none"
      style="--bs:none;--bc:#121212"
      >
      <div
      
    >
      <span
        style="--c:#AF33EA;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M351.04 159.04a24 24 0 0 1 34.24 33.6l-127.68 159.68a24 24 0 0 1 -34.56 0.64L138.368 268.288a24 24 0 1 1 33.92 -33.92l67.008 66.976 111.136 -141.6a8.544 8.544 0 0 1 0.64 -0.704z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gox6ZlZ9it relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gY2OtG6PnJ"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-3d0c93fe-559d-497f-bdd3-38d89a92ff78.png" | asset_url }}" data-srcset="{{ '432750572815254551-3d0c93fe-559d-497f-bdd3-38d89a92ff78.png' | asset_img_url: '768x768' }} 768w, {{ '432750572815254551-3d0c93fe-559d-497f-bdd3-38d89a92ff78.png' | asset_img_url: '1024x1024' }} 1024w, {{ '432750572815254551-3d0c93fe-559d-497f-bdd3-38d89a92ff78.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="600" height="764" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:600/764;--aspect-tablet:600/764;--aspect-mobile:600/764;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gNJ4lP4fpc"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--pt:var(--g-s-3xl);--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gNJ4lP4fpc mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gY1AI5Gt8s relative flex flex-col"
    >
      
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets/gp-carousel.js" defer="defer"></script>
    <gp-carousel  id="gp-root-carousel-gzOzejz7mJ-{{section.id}}" class=" "  gp-data='{"id":"gzOzejz7mJ-{{section.id}}","setting":{"arrow":{"desktop":false},"arrowCustom":"<svg height=\"100%\" width=\"100%\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" fill=\"currentColor\"><path d=\"M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z\"></path></svg>","autoplay":false,"autoplayTimeout":2,"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"childItem":["Slide 1","Slide 2","Slide 3","Slide 4","Slide 5","Slide 6"],"controlOverContent":{"desktop":true},"dot":{"desktop":false,"mobile":false,"tablet":false},"dotActiveColor":{"desktop":"line-3"},"dotColor":{"desktop":"bg-1"},"enableDrag":false,"loop":{"desktop":false},"pauseOnHover":true,"slidesToShow":{"desktop":6,"mobile":2.5,"tablet":5},"vertical":{"desktop":false}},"styles":{"adaptiveHeight":{"desktop":true},"fullWidth":{"desktop":true},"height":{"desktop":"300px"},"spacing":{"desktop":"30"},"width":{"desktop":"300px"}}}' style="">
      <div class="hidden aspect-square w-[12px] rounded-full shadow-md"></div>
      <div
        
        class="relative my-0 tablet:px-0 max-w-full mobile:px-0 gp-carousel-wrapper mobile:block tablet:block block mx-auto gzOzejz7mJ"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--h:auto;--w:100%;--w-tablet:100%;--w-mobile:100%;visibility:hidden;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      >
        <div
          class="h-full z-1"
        >
          <div id="gp-carousel-gzOzejz7mJ-{{section.id}}" class="gem-slider h-full overflow-hidden">
            
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      parentTag="Carousel"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      class="gem-slider-item w-full gem-slider-item- giV4AoCfIP"
    >
      <div
    
    role="presentation"
    class="group/image giUyc0NP2W"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:74%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-29418b3d-4282-46ac-8a6b-4e396199294a.svg" | asset_url }}" data-srcset="{{ '432750572815254551-29418b3d-4282-46ac-8a6b-4e396199294a.svg' | asset_url }} 768w, {{ '432750572815254551-29418b3d-4282-46ac-8a6b-4e396199294a.svg' | asset_url }} 1024w, {{ '432750572815254551-29418b3d-4282-46ac-8a6b-4e396199294a.svg' | asset_url }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="170" height="113" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:170/113;--aspect-tablet:170/113;--aspect-mobile:170/113;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      parentTag="Carousel"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      class="gem-slider-item w-full gem-slider-item- gpA-yKi9vp"
    >
      <div
    
    role="presentation"
    class="group/image g1YWnTuZMm"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:74%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-ba2e82b4-30f5-4353-99df-189d0fec1e23.svg" | asset_url }}" data-srcset="{{ '432750572815254551-ba2e82b4-30f5-4353-99df-189d0fec1e23.svg' | asset_url }} 768w, {{ '432750572815254551-ba2e82b4-30f5-4353-99df-189d0fec1e23.svg' | asset_url }} 1024w, {{ '432750572815254551-ba2e82b4-30f5-4353-99df-189d0fec1e23.svg' | asset_url }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="170" height="113" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:170/113;--aspect-tablet:170/113;--aspect-mobile:170/113;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      parentTag="Carousel"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      class="gem-slider-item w-full gem-slider-item- gvXrnGmsyx"
    >
      <div
    
    role="presentation"
    class="group/image gxOD-KIDjd"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:74%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-f1d811fd-d110-42d6-b911-03fa8320f79c.svg" | asset_url }}" data-srcset="{{ '432750572815254551-f1d811fd-d110-42d6-b911-03fa8320f79c.svg' | asset_url }} 768w, {{ '432750572815254551-f1d811fd-d110-42d6-b911-03fa8320f79c.svg' | asset_url }} 1024w, {{ '432750572815254551-f1d811fd-d110-42d6-b911-03fa8320f79c.svg' | asset_url }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="170" height="113" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:170/113;--aspect-tablet:170/113;--aspect-mobile:170/113;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      parentTag="Carousel"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      class="gem-slider-item w-full gem-slider-item- gl-UMkqXOx"
    >
      <div
    
    role="presentation"
    class="group/image gtSOcfawwZ"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:74%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-316cb97c-2b0c-4dd4-a649-d875d1e81298.svg" | asset_url }}" data-srcset="{{ '432750572815254551-316cb97c-2b0c-4dd4-a649-d875d1e81298.svg' | asset_url }} 768w, {{ '432750572815254551-316cb97c-2b0c-4dd4-a649-d875d1e81298.svg' | asset_url }} 1024w, {{ '432750572815254551-316cb97c-2b0c-4dd4-a649-d875d1e81298.svg' | asset_url }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="170" height="113" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:170/113;--aspect-tablet:170/113;--aspect-mobile:170/113;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      parentTag="Carousel"
      style=""
      class="gem-slider-item w-full gem-slider-item- gzkfr9w3CV"
    >
      <div
    
    role="presentation"
    class="group/image giJ5PF7dnf"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:74%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-ef61c873-ad4b-4520-9f63-d516b5a74b57.svg" | asset_url }}" data-srcset="{{ '432750572815254551-ef61c873-ad4b-4520-9f63-d516b5a74b57.svg' | asset_url }} 768w, {{ '432750572815254551-ef61c873-ad4b-4520-9f63-d516b5a74b57.svg' | asset_url }} 1024w, {{ '432750572815254551-ef61c873-ad4b-4520-9f63-d516b5a74b57.svg' | asset_url }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="170" height="113" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:170/113;--aspect-tablet:170/113;--aspect-mobile:170/113;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div>
  
    <div
      media-type="{{media.media_type}}" 
      media-poster="{{media.preview_image.src}}" 
      media-source-url="{{media.sources.first.url}}" 
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      parentTag="Carousel"
      style=""
      class="gem-slider-item w-full gem-slider-item- gd51P59PE0"
    >
      <div
    
    role="presentation"
    class="group/image goMRgduZ_I"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:74%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-7613ed19-0383-4993-9763-4959559d87fb.svg" | asset_url }}" data-srcset="{{ '432750572815254551-7613ed19-0383-4993-9763-4959559d87fb.svg' | asset_url }} 768w, {{ '432750572815254551-7613ed19-0383-4993-9763-4959559d87fb.svg' | asset_url }} 1024w, {{ '432750572815254551-7613ed19-0383-4993-9763-4959559d87fb.svg' | asset_url }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="170" height="113" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:170/113;--aspect-tablet:170/113;--aspect-mobile:170/113;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div>
  
          </div>
        </div>
        
    <button
      class="gp-carousel-action-back gzOzejz7mJ-{{section.id}} gp-carousel-arrow absolute z-2 h-6 w-6 cursor-pointer text-gray-500 disabled:cursor-default disabled:text-gray-300 data-[hidden=true]:!hidden !hidden tablet:!hidden mobile:!hidden left-4 tablet:left-4 tablet:translate-x-0 tablet:pl-1 mobile:left-4 mobile:translate-x-0 mobile:pl-1 rotate-180 tablet:rotate-180 mobile:rotate-180 top-1/2 -translate-y-1/2 tablet:top-1/2 tablet:-translate-y-1/2 mobile:top-1/2 mobile:-translate-y-1/2"
      
    >
      <span 
  class="inline-flex h-6 w-6 items-center justify-center [&>svg]:!h-6 [&>svg]:!w-6"
  style=""
  >
    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"></path></svg>
    </span>
    </button>
  

        
    <button
      class="gp-carousel-action-next gzOzejz7mJ-{{section.id}} gp-carousel-arrow absolute z-2 h-6 w-6 cursor-pointer text-gray-500 disabled:cursor-default disabled:text-gray-300 data-[hidden=true]:!hidden !hidden tablet:!hidden mobile:!hidden right-4 tablet:right-4 tablet:translate-x-0 tablet:pl-1 mobile:right-4 mobile:translate-x-0 mobile:pl-1 rotate-0 tablet:rotate-0 mobile:rotate-0 bottom-1/2 translate-y-1/2 tablet:bottom-1/2 tablet:translate-y-1/2 mobile:bottom-1/2 mobile:translate-y-1/2"
      
    >
      <span 
  class="inline-flex h-6 w-6 items-center justify-center [&>svg]:!h-6 [&>svg]:!w-6"
  style=""
  >
    <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"></path></svg>
    </span>
    </button>
  
        
        <div
    class="items-center justify-center gap-2 text-center gp-carousel-dot-container gp-carousel-dot-container-gzOzejz7mJ-{{section.id}} hidden flex-row w-full mt-2 tablet:!hidden tablet:flex-row tablet:w-full tablet:mt-2 mobile:!hidden mobile:flex-row mobile:w-full mobile:mt-2" ></div>
      </div>
    </gp-carousel>
  
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 9",
    "tag": "section",
    "class": "gps-497425734617269384 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/johnnychentest/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=497425727101076616&sectionId=497425734617269384)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
