
  
  
      <style>
        @font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwAopxRSW3w.woff) format('woff');
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwARZtRSW3w.woff) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu6-K6z9mXgjU0.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu0-K6z9mXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu6-K6z9mXgjU0.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu0-K6z9mXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

      </style>
    
  <style>
    .gps-497425733879071880 .pointer-events-auto{pointer-events:auto}.gps-497425733879071880 .relative{position:relative}.gps-497425733879071880 .mx-auto{margin-left:auto;margin-right:auto}.gps-497425733879071880 .mb-0{margin-bottom:0}.gps-497425733879071880 .\!inline{display:inline!important}.gps-497425733879071880 .flex{display:flex}.gps-497425733879071880 .grid{display:grid}.gps-497425733879071880 .h-full{height:100%}.gps-497425733879071880 .w-full{width:100%}.gps-497425733879071880 .max-w-full{max-width:100%}.gps-497425733879071880 .flex-col{flex-direction:column}.gps-497425733879071880 .gap-y-0{row-gap:0}.gps-497425733879071880 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-497425733879071880 .duration-200{transition-duration:.2s}.gps-497425733879071880 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-497425733879071880 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-497425733879071880 .\[\&_p\]\:inline p{display:inline}.gps-497425733879071880 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-497425733879071880 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gcNnmnW5rV"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-l);--pr:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gcNnmnW5rV mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gtgOY7jff1 relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gDku9rBXf2"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--cg:32px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gDku9rBXf2 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gnkCc3Uc1W relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gmY0g7B0PV"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xl);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-047df0cd-e447-4229-83e7-15b4d9172e7f.png" | asset_url }}" data-srcset="{{ '432750572815254551-047df0cd-e447-4229-83e7-15b4d9172e7f.png' | asset_img_url: '768x768' }} 768w, {{ '432750572815254551-047df0cd-e447-4229-83e7-15b4d9172e7f.png' | asset_img_url: '1024x1024' }} 1024w, {{ '432750572815254551-047df0cd-e447-4229-83e7-15b4d9172e7f.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="555" height="369" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:555/369;--aspect-tablet:555/369;--aspect-mobile:555/369;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    <div
      parentTag="Col"
        class="gvWMikp-x6 "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:700;--ls:normal;--lh:130%;--size:19px;--size-tablet:19px;--size-mobile:17px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>Water &amp; Weather Resistant</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gRKmo8Zk-I "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:var(--g-s-3xl)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:400;--ls:normal;--lh:130%;--size:19px;--size-tablet:19px;--size-mobile:14px;--c:#424242;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>Whether it's a poolside splash, it still remains your unwavering audio companion with water-resistant design.</p>
        </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g9IA76OaT8 relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gl_FTWCNAa"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xl);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-ae9ae88a-15f5-4c88-9913-5459d36a9a35.png" | asset_url }}" data-srcset="{{ '432750572815254551-ae9ae88a-15f5-4c88-9913-5459d36a9a35.png' | asset_img_url: '768x768' }} 768w, {{ '432750572815254551-ae9ae88a-15f5-4c88-9913-5459d36a9a35.png' | asset_img_url: '1024x1024' }} 1024w, {{ '432750572815254551-ae9ae88a-15f5-4c88-9913-5459d36a9a35.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="555" height="369" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:555/369;--aspect-tablet:555/369;--aspect-mobile:555/369;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    <div
      parentTag="Col"
        class="gwfTNxo0fp "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:700;--ls:normal;--lh:130%;--size:19px;--size-tablet:19px;--size-mobile:17px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>Intuitive User Experience</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gXCxNyUXUW "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-mobile:var(--g-s-3xl)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:400;--ls:normal;--lh:130%;--size:19px;--size-tablet:19px;--size-mobile:14px;--c:#424242;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>One-Touch Controls: Navigate your playlist, adjust volume, or take calls with effortless touch-sensitive controls.</p>
        </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gpZAm77xqI relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gRQnoOpRzX"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xl);--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-2f3ee1e7-1ee8-45af-a82d-5f53da6be096.png" | asset_url }}" data-srcset="{{ '432750572815254551-2f3ee1e7-1ee8-45af-a82d-5f53da6be096.png' | asset_img_url: '768x768' }} 768w, {{ '432750572815254551-2f3ee1e7-1ee8-45af-a82d-5f53da6be096.png' | asset_img_url: '1024x1024' }} 1024w, {{ '432750572815254551-2f3ee1e7-1ee8-45af-a82d-5f53da6be096.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="555" height="369" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:555/369;--aspect-tablet:555/369;--aspect-mobile:555/369;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    <div
      parentTag="Col"
        class="gfKHGMPYfo "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:700;--ls:normal;--lh:130%;--size:19px;--size-tablet:19px;--size-mobile:17px;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>Expandable Sound System</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gwWhBzYFdM "
        style="--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:400;--ls:normal;--lh:130%;--size:19px;--size-tablet:19px;--size-mobile:14px;--c:#424242;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>Double the Fusion: Pair two SoundWave Fusion speakers together for a stereo sound experience that fills any room.</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-497425733879071880 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/johnnychentest/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=497425727101076616&sectionId=497425733879071880)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
