
  
  
      <style>
        @font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwAopxRSW3w.woff) format('woff');
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2tp2ywxg089UriI5-g4vlH9VoD8CmcqZG40F9JadbnoEwARZtRSW3w.woff) format('woff');
}
/* latin-ext */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu6-K6z9mXgjU0.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu0-K6z9mXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu6-K6z9mXgjU0.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v14/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu0-K6z9mXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

      </style>
    
  <style>
    .gps-497425734415942537 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-497425734415942537 .pointer-events-auto{pointer-events:auto}.gps-497425734415942537 .relative{position:relative}.gps-497425734415942537 .mx-auto{margin-left:auto;margin-right:auto}.gps-497425734415942537 .mb-0{margin-bottom:0}.gps-497425734415942537 .\!inline{display:inline!important}.gps-497425734415942537 .flex{display:flex}.gps-497425734415942537 .grid{display:grid}.gps-497425734415942537 .h-full{height:100%}.gps-497425734415942537 .w-full{width:100%}.gps-497425734415942537 .max-w-full{max-width:100%}.gps-497425734415942537 .flex-col{flex-direction:column}.gps-497425734415942537 .flex-wrap{flex-wrap:wrap}.gps-497425734415942537 .items-center{align-items:center}.gps-497425734415942537 .gap-y-0{row-gap:0}.gps-497425734415942537 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-497425734415942537 .duration-200{transition-duration:.2s}.gps-497425734415942537 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-497425734415942537 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-497425734415942537 .\[\&_p\]\:inline p{display:inline}.gps-497425734415942537 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-497425734415942537 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="geOvByiZbc"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:88px;--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-2xl);--pr:15px;--mb-mobile:141px;--pt-mobile:var(--g-s-4xl);--pl-mobile:15px;--pb-mobile:0px;--pr-mobile:15px;--mb-tablet:148px;--pt-tablet:var(--g-s-4xl);--pl-tablet:15px;--pb-tablet:var(--g-s-2xl);--pr-tablet:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#210E6C;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="geOvByiZbc mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gE6emKmMpZ relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gbqACLTYQP"
        style="--b:solid;--bc:rgba(255, 255, 255, 0.2);--bw:0px 0px 1px 0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-xl);--pb:var(--g-s-2xl);--cg:30px;--pc:start;--gtc:minmax(0, 3fr) minmax(0, 6fr) minmax(0, 3fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gbqACLTYQP mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gvA7LvYgwX relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gMarLWtThg"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--mb-tablet:var(--g-s-xl);--ta:left"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:left"
      >
        <img
    quality="70" title
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-417f0eaf-2a41-4cc9-8acd-9af4f899589d.svg" | asset_url }}" data-srcset="{{ '432750572815254551-417f0eaf-2a41-4cc9-8acd-9af4f899589d.svg' | asset_url }} 768w, {{ '432750572815254551-417f0eaf-2a41-4cc9-8acd-9af4f899589d.svg' | asset_url }} 1024w, {{ '432750572815254551-417f0eaf-2a41-4cc9-8acd-9af4f899589d.svg' | asset_url }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="138" height="19" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:138/19;--aspect-tablet:138/19;--aspect-mobile:138/19;--objf:cover;--w:140px;--w-tablet:140px;--w-mobile:140px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ghTFVD73Bw relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gCj_5901RK"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-tablet:var(--g-s-2xl);--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gCj_5901RK mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gE_ZauKfFH relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gmoYC4cHFc"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--mb-mobile:0px;--cg:16px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gmoYC4cHFc mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gsRUhrl-jY relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gD1IzUXzqL "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:700;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>A:</p>
        </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gFEs184xl7 relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="g4BMi5KU4s "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:rgba(255, 255, 255, 0.7);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>184 Main Rd E, St Albans VIC 3021, Australia</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gKfxG3k4QU relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gqUqP-708E"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:16px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gqUqP-708E mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gRTMqGqw7l relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gn1Q5arvE4 "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:700;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>T:</p>
        </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g0beBKU3WE relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="g9wLMFQtYV "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:rgba(255, 255, 255, 0.7);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>+012 345 6789 0000</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gtsYPsP7QA"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:0px;--cg:16px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gtsYPsP7QA mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gRbAgZlJJQ relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gJRO5hp2nX "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:700;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>E:</p>
        </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g9h30JIRpK relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gOC8kH7-cW "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-DM-Sans, DM Sans);--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:rgba(255, 255, 255, 0.7);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>gemthemes@gmail.com</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gdx5Jacq5u relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gQHRkFJwc9"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--cg:16px;--pc:end;--pc-tablet:start;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gQHRkFJwc9 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g_Cg_Bjj8E relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gM37_yqqFK"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-6a76e5eb-66af-4e2c-87bf-906653f01488.svg" | asset_url }}" data-srcset="{{ '432750572815254551-6a76e5eb-66af-4e2c-87bf-906653f01488.svg' | asset_url }} 768w, {{ '432750572815254551-6a76e5eb-66af-4e2c-87bf-906653f01488.svg' | asset_url }} 1024w, {{ '432750572815254551-6a76e5eb-66af-4e2c-87bf-906653f01488.svg' | asset_url }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="34" height="34" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:34/34;--aspect-tablet:34/34;--aspect-mobile:34/34;--objf:cover;--w:34px;--w-tablet:34px;--w-mobile:34px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="grVc7Ko6Am relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gItF54ZBzp"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-74d34b6a-87ff-49a0-8943-e0b36471e4c7.svg" | asset_url }}" data-srcset="{{ '432750572815254551-74d34b6a-87ff-49a0-8943-e0b36471e4c7.svg' | asset_url }} 768w, {{ '432750572815254551-74d34b6a-87ff-49a0-8943-e0b36471e4c7.svg' | asset_url }} 1024w, {{ '432750572815254551-74d34b6a-87ff-49a0-8943-e0b36471e4c7.svg' | asset_url }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="34" height="34" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:34/34;--aspect-tablet:34/34;--aspect-mobile:34/34;--objf:cover;--w:34px;--w-tablet:34px;--w-mobile:34px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gGaQJGGTmF relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gvAKw0I6nD"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-33b76168-db0a-47f3-8892-d7aa452d2ebd.svg" | asset_url }}" data-srcset="{{ '432750572815254551-33b76168-db0a-47f3-8892-d7aa452d2ebd.svg' | asset_url }} 768w, {{ '432750572815254551-33b76168-db0a-47f3-8892-d7aa452d2ebd.svg' | asset_url }} 1024w, {{ '432750572815254551-33b76168-db0a-47f3-8892-d7aa452d2ebd.svg' | asset_url }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="34" height="34" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:34/34;--aspect-tablet:34/34;--aspect-mobile:34/34;--objf:cover;--w:34px;--w-tablet:34px;--w-mobile:34px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gg5tP0m_13"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gg5tP0m_13 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start;--o-mobile:1"
      class="gcyVSMP_Sp relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="g_8ix9Pha0 "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:rgba(255, 255, 255, 0.5);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        >
        <p>Copyright © 2022 GemThemes. All Rights Reserved.</p>
        </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start;--o-mobile:0"
      class="gjhiAvBrmd relative flex flex-col"
    >
      
    
      
      
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s);--mb-mobile:var(--g-s-xl);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
        
    <div 
            class="flex flex-wrap"
            style="--cg:8px;--jc:right;--jc-mobile:left">
            <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="g0l8iJG0C7 ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
    
    role="presentation"
    class="group/image gjw034KP0B"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-982fe3ed-790c-4066-af8d-43f3baf0a9ea.png" | asset_url }}" data-srcset="{{ '432750572815254551-982fe3ed-790c-4066-af8d-43f3baf0a9ea.png' | asset_img_url: '768x768' }} 768w, {{ '432750572815254551-982fe3ed-790c-4066-af8d-43f3baf0a9ea.png' | asset_img_url: '1024x1024' }} 1024w, {{ '432750572815254551-982fe3ed-790c-4066-af8d-43f3baf0a9ea.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="99" height="61" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:99/61;--aspect-tablet:99/61;--aspect-mobile:99/61;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gqocai3XFT ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
    
    role="presentation"
    class="group/image gm5u84Czj0"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-fbbbd6f6-d354-4ff1-a62c-0cbc80a836d8.png" | asset_url }}" data-srcset="{{ '432750572815254551-fbbbd6f6-d354-4ff1-a62c-0cbc80a836d8.png' | asset_img_url: '768x768' }} 768w, {{ '432750572815254551-fbbbd6f6-d354-4ff1-a62c-0cbc80a836d8.png' | asset_img_url: '1024x1024' }} 1024w, {{ '432750572815254551-fbbbd6f6-d354-4ff1-a62c-0cbc80a836d8.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="99" height="61" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:99/61;--aspect-tablet:99/61;--aspect-mobile:99/61;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gk3y_Pzchj ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
    
    role="presentation"
    class="group/image gUTKB8ucZ9"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-2fb03edc-c40f-4db2-b2f3-f7c7286f6b0f.png" | asset_url }}" data-srcset="{{ '432750572815254551-2fb03edc-c40f-4db2-b2f3-f7c7286f6b0f.png' | asset_img_url: '768x768' }} 768w, {{ '432750572815254551-2fb03edc-c40f-4db2-b2f3-f7c7286f6b0f.png' | asset_img_url: '1024x1024' }} 1024w, {{ '432750572815254551-2fb03edc-c40f-4db2-b2f3-f7c7286f6b0f.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="120" height="70" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:120/70;--aspect-tablet:120/70;--aspect-mobile:120/70;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gF1JhszvHw ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
    
    role="presentation"
    class="group/image gq-QeMpEVi"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-e74ecf6b-88b6-4eff-975c-d7d1a9071fd1.png" | asset_url }}" data-srcset="{{ '432750572815254551-e74ecf6b-88b6-4eff-975c-d7d1a9071fd1.png' | asset_img_url: '768x768' }} 768w, {{ '432750572815254551-e74ecf6b-88b6-4eff-975c-d7d1a9071fd1.png' | asset_img_url: '1024x1024' }} 1024w, {{ '432750572815254551-e74ecf6b-88b6-4eff-975c-d7d1a9071fd1.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="120" height="70" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:120/70;--aspect-tablet:120/70;--aspect-mobile:120/70;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="go6QjBQEGO ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
    
    role="presentation"
    class="group/image gCZd0FuV-h"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="--shadow:none;border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="{{ "432750572815254551-2bc5a237-667a-4129-aaca-d894217b256e.png" | asset_url }}" data-srcset="{{ '432750572815254551-2bc5a237-667a-4129-aaca-d894217b256e.png' | asset_img_url: '768x768' }} 768w, {{ '432750572815254551-2bc5a237-667a-4129-aaca-d894217b256e.png' | asset_img_url: '1024x1024' }} 1024w, {{ '432750572815254551-2bc5a237-667a-4129-aaca-d894217b256e.png' | asset_img_url: 'master' }} 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="99" height="61" alt="Alt image" priority
    sizes="100vw"
    style="--aspect:99/61;--aspect-tablet:99/61;--aspect-mobile:99/61;--objf:cover;--w:40px;--w-tablet:40px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    </div>
  
      </div>
         </div>
    </div>
  
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 13",
    "tag": "section",
    "class": "gps-497425734415942537 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/johnnychentest/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=497425727101076616&sectionId=497425734415942537)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
